<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeverGear</title>
    <!--bootstrap-->
    <%- include ('partials/head.html') %>
</head>
<body>
    <%- include ('partials/nav.html') %>


    <div class="jumbotron  inicio">
        <div class="container">
            <h1 class="display-4 mb-3 text-left text-white animated bounceIn">NeverGear</h1>
           <p class="lead mb-4 text-white">Buscamos exponer la mejor experiencia de compra de equipos gaming sobrepasando las expectativas de cada consumidor sin pretexto a la edad.
            <div>
             <br>
             <br>
            </div>
        </div>
    </div>

    <%- include ('partials/jumbo.html') %>
    
    <br><br><br>
    <%- include ('partials/card.html') %>

    <br><br><br>
    <%- include ('partials/footer.html') %>

    
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"></script>
</html>