<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeverGear</title>
    <!--bootstrap-->
    <%- include ('partials/head.html') %>
</head>
<body>
    <%- include ('partials/nav.html') %>


    <div class="jumbotron  inicio">
        <div class="container">
            <h1 class="display-4 mb-3 text-left text-white animated bounceIn">NeverGear</h1>
           <p class="lead mb-4 text-white">Buscamos exponer la mejor experiencia de compra de equipos gaming sobrepasando las expectativas de cada consumidor sin pretexto a la edad.
            <div>
             <br>
             <br>
            </div>
        </div>
    </div>

    <%- include ('partials/jumbo.html') %>
    
    <br><br><br>
    <%- include ('partials/card.html') %>
    <br><br><br>
    <%- include ('partials/team.html') %>
    
    <%- include ('partials/footer.html') %>

    
</body>

</html>