<div class="container" id="servicios">
    <h2 class="text-center display-4"> Servicios</h2>
    <br>
    <dic class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-1">
                <div class="card-body">
                  <h5 class="card-title text-center">Reparacion de equipos</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/contact" class="btn btn-success btn-block">Conctatar</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-2" >
                <div class="card-body">
                  <h5 class="card-title">Ventas de equipos gamers</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/contact" class="btn btn-success btn-block">Conctatar</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-3">
                <div class= "card-body">
                  <h5 class="card-title text-center">Ventas de piezas</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/contact" class="btn btn-success btn-block">Conctatar</a>
                </div>
              </div>
        </div>
    </dic>
</div>

