<div class="jumbotron  bg-dark">
    <div class="container animated fadeInRightBig">
        <h1 class="display-6 mb-3 text-left text-white ">¿Quienes somos?</h1>
        <hr class="bg-info">
        <div class="row">
            <div class="col-8 mt-3 col-md-4 text-white"><h3>Misión</h3>
                <br>
              <p class="nav-link text-white">Buscamos exponer la mejor experiencia de compra de equipos gaming sobrepasando las expectativas de cada consumidor sin pretexto a la edad.
            </p></div>
            <div class="col-8 mt-3 col-md-4 text-white"><h3>Visión</h3>
                <br>
               <p class="nav-link text-white">Ser el líder en distribución e instalación de productos relacionados a computadoras gaming, estableciéndonos como la mejor empresa en un corto periodo de tiempo ofreciendo calidad y accesibilidad a nuestros clientes y empresas brindando una forma para combatir el estres.</p></div>
            <div class="col-8 mt-3 col-md-4 text-white"><h3>Valores</h3>
                
                <p class="nav-link ">
                    <ul class="text-white">
                 <li>Responsabilidad</li>
                <li>Confiabilidad</li>
                <li>Calidad y Rapidez</li>
                <li> Eficacia</li>
                <li>Orientación al cliente</li> 
                <li>Trabajo en equipo</li>
            </p >
        </ul>
    </div>
        </div>
        <div>
        
        </div>
    </div>
   
</div>
